<section
  class="mobile-dropdown"
  id="main-header--mobile-nav"
>
  <div class="mobile-dropdown--wrapper">
    <div class="mobile-dropdown--content">
      <div class="mobile-dropdown--tools">
        <div
          class="mobile-dropdown--close"
          data-mobile-nav-close
        >
          {% render 'icon' with 'close' %}
        </div>
      </div>

      {% comment %} First level {% endcomment %}
      {% assign menu = linklists[section.settings.menu] %}

      <ul
        class="
          list
          primary
          {% if section.settings.social-icons %}show-social{% endif %}
        "
      >
        {% for link in menu.links %}
          {% assign first_tier_link = link %}
          {% comment %}Inject is-dropdown-or-meganav begin{% endcomment %}
          {% comment %}
            A helper snippet for detecting if a link has a mega nav
            or dropdown associated with it.
          
            @param first_tier_link
          {% endcomment %}
          
          {% assign is_dropdown = false %}
          {% assign is_meganav = true %}
          
          {% if first_tier_link.links == blank %}
            {% assign is_meganav = false %}
          {% else %}
            {% assign is_dropdown = true %}
          {% endif %}
          
          {% for second_tier_link in first_tier_link.links %}
            {% if second_tier_link.links == blank %}
              {% assign is_meganav = false %}
            {% else %}
              {% assign is_dropdown = true %}
            {% endif %}
          {% endfor %}
          
          {% if is_meganav %}
            {% assign is_dropdown = false %}
          {% endif %}
          {% comment %}Inject is-dropdown-or-meganav end{% endcomment %}


          <li
            class="
              list-item
              {% if forloop.first %}first{% endif %}
              {% if forloop.last %}last{% endif %}
              {% if is_meganav or is_dropdown %}dropdown{% endif %}
            "
            {% if is_dropdown or is_meganav %}
              aria-haspopup="true"
              aria-expanded="false"
              aria-controls="header-mobile-dropdown-{{ link.handle }}"
            {% endif %}
          >
            <a href="{{ link.url }}">
              {{ link.title }}

              {% if is_meganav or is_dropdown %}
                <span class="icon">
                  <span class="plus">
                    {% render 'icon' with 'plus' %}
                  </span>

                  <span class="minus">
                    {% render 'icon' with 'minus' %}
                  </span>
                </span>
              {% endif %}
            </a>

            {% comment %} Second level {% endcomment %}
            {% if is_meganav or is_dropdown %}
              <ul
                class="list secondary"
                id="header-mobile-dropdown-{{ link.handle }}"
              >
                {% for link in link.links %}
                  {% assign first_tier_link = link %}
                  {% comment %}Inject is-dropdown-or-meganav begin{% endcomment %}
                  {% comment %}
                    A helper snippet for detecting if a link has a mega nav
                    or dropdown associated with it.
                  
                    @param first_tier_link
                  {% endcomment %}
                  
                  {% assign is_dropdown = false %}
                  {% assign is_meganav = true %}
                  
                  {% if first_tier_link.links == blank %}
                    {% assign is_meganav = false %}
                  {% else %}
                    {% assign is_dropdown = true %}
                  {% endif %}
                  
                  {% for second_tier_link in first_tier_link.links %}
                    {% if second_tier_link.links == blank %}
                      {% assign is_meganav = false %}
                    {% else %}
                      {% assign is_dropdown = true %}
                    {% endif %}
                  {% endfor %}
                  
                  {% if is_meganav %}
                    {% assign is_dropdown = false %}
                  {% endif %}
                  {% comment %}Inject is-dropdown-or-meganav end{% endcomment %}


                  <li
                    class="list-item {% if is_dropdown %}dropdown{% endif %}"
                    {% if is_dropdown %}
                      aria-haspopup="true"
                      aria-expanded="false"
                      aria-controls="header-mobile-dropdown-{{ link.handle }}"
                    {% endif %}
                  >
                    <a href="{{ link.url }}">
                      {{ link.title }}

                      {% if is_dropdown %}
                        <span class="icon">
                          <span class="plus">
                            {% render 'icon' with 'plus' %}
                          </span>

                          <span class="minus">
                            {% render 'icon' with 'minus' %}
                          </span>
                        </span>
                      {% endif %}
                    </a>

                    {% comment %} Third level {% endcomment %}
                    {% if is_dropdown %}
                      <ul
                        class="list tertiary"
                        id="header-mobile-dropdown-{{ link.handle }}"
                      >
                        {% for link in link.links %}
                          <li class="list-item">
                            <a href="{{ link.url }}">{{ link.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                    {% comment %} End third level {% endcomment %}

                  </li>
                {% endfor %}
              </ul>
            {% endif %}
            {% comment %} End second level {% endcomment %}

          </li>
        {% endfor %}

        <li class="list-item" id="coin-container"></li>
      </ul>
      
      {% if section.settings.social-icons %}
        {% render 'social-links' %}
      {% endif %}
      {% comment %} End first level {% endcomment %}
    </div>
  </div>
</section>