{% comment %}
@param show_label {Boolean}
  Whether to show the live search input label

@param alignment {String}
  Position of the element in the header, depending on header type and logo position.
  Can be one of: left, right
{% endcomment %}

<div
  class="
    live-search
    live-search-hidden
    live-search-results-hidden
    live-search-alignment-{{ alignment }}
  "
  data-live-search
>
  <button
    id="ls-button-search"
    class="
      ls-button-search
      ls-button-search--no-js-hidden
    "
    type="button"
    aria-label="{{ 'general.livesearch.form_open' | t }}"
    data-live-search-button-search
  >
    {% render 'icon' with 'search' %}
  </button>

  <noscript>
    <a href="/search" class="ls-button-search">
      {% render 'icon' with 'search' %}
      {% if show_label %}
        <label class="ls-label">
          {{ 'general.livesearch.button_label' | t }}
        </label>
      {% endif %}
    </a>
  </noscript>

  {% if show_label %}
    <label
      class="
        ls-label
        ls-label--no-js-hidden
      "
      for="ls-button-search"
    >
      {{ 'general.livesearch.button_label' | t }}
    </label>
  {% endif %}

  <div class="ls-dimmer"></div>

  <form
    class="ls-form"
    id="ls-form"
    action="{{ routes.search_url }}"
    method="get"
    autocomplete="off"
    data-live-search-form
  >
    <input
      class="ls-input"
      type="text"
      name="q"
      placeholder="{{ 'general.livesearch.input_placeholder' | t }}"
      aria-label="{{ 'general.livesearch.input_placeholder' | t }}"
      value=""
      data-live-search-form-input
    >

    <button
      class="ls-form-button-search"
      type="submit"
      aria-label="{{ 'general.livesearch.form_search' | t }}"
      data-live-search-form-button-search
    >
      {% render 'icon' with 'search' %}
    </button>

    <button
      class="ls-form-button-close"
      type="button"
      aria-label="{{ 'general.livesearch.form_close' | t }}"
      data-live-search-form-button-close
    >
      {% render 'icon' with 'close' %}
    </button>
  </form>

  <div class="ls-results" data-live-search-results></div>
</div>
