<!DOCTYPE html>
<html class="no-js no-touch" lang="{{ request.locale.iso_code }}">
<head>
  <script>
    window.Store = window.Store || {};
    window.Store.id = {{ shop.id }};
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Preconnect Domains -->
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

  <!-- Preload Assets -->
  <link rel="preload" href="{{ 'theme.css' | asset_url }}" as="style">
  <link rel="preload" href="{{ 'atlantic.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'plugins.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'api.jquery.js' | shopify_asset_url }}" as="script">
  <link rel="preload" href="{{ 'atlantic-icons.woff' | asset_url }}" as="font" type="font/woff" crossorigin>

  <title>{{ shop.name }}</title>

  {% if page_description or shop.description != blank %}
    <meta name="description" content="{% if page_description %}{{ page_description }}{% else %}{{ shop.description }}{% endif %}">
  {% endif %}

  {% render 'favicon' %}

  <link rel="canonical" href="{{ canonical_url }}" />

  {{ content_for_header }}

  {% assign x_handle = settings.x-url | split: 'x.com/' | last | split: 'twitter.com/' | last %}
  {%
    render 'social-meta-tags',
    twitter_handle: x_handle,
  %}

  <script>
    document.documentElement.className=document.documentElement.className.replace(/\bno-js\b/,'js');
    if(window.Shopify&&window.Shopify.designMode)document.documentElement.className+=' in-theme-editor';
    if(('ontouchstart' in window)||window.DocumentTouch&&document instanceof DocumentTouch)document.documentElement.className=document.documentElement.className.replace(/\bno-touch\b/,'has-touch');
  </script>

  <!-- Theme CSS -->
  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">

  <!-- Store object -->
  {% comment %}Inject theme-object begin{% endcomment %}
  <script>
    window.Theme = {};
    Theme.version = "19.1.0";
    Theme.name = 'Atlantic';
    Theme.products = new Array();
    Theme.shippingCalcErrorMessage = "{{ 'cart.shipping_calculator.error' | t | strip_newlines | replace: '"','\\"' }}";
    Theme.shippingCalcMultiRates = "{{ 'cart.shipping_calculator.rates_html' | t | strip_newlines | replace: '"','\\"' }}";
    Theme.shippingCalcOneRate = "{{ 'cart.shipping_calculator.rate' | t | strip_newlines | replace: '"','\\"' }}";
    Theme.shippingCalcNoRates = "{{ 'cart.shipping_calculator.no_rates' | t | strip_newlines | replace: '"','\\"' }}";
    Theme.shippingCalcRateValues = "{{ 'cart.shipping_calculator.rate_values_html' | t | strip_newlines | replace: '"','\\"' }}";
    Theme.userLoggedIn = {% if shop.customer_accounts_enabled and customer %}true{% else %}false{% endif %};
    Theme.userAddress = '{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address }}{% endif %}';
    Theme.centerHeader = {% if settings.center-header %}true{% else %}false{% endif %};
  
    Theme.cartItemsOne = "{{ 'layout.header.item_count.one' | t | strip_newlines | escape }}";
    Theme.cartItemsOther = "{{ 'layout.header.item_count.other' | t | strip_newlines | escape }}";
  
    Theme.addToCart = "{{ 'products.product.add_to_cart' | t | strip_newlines | escape }}";
    Theme.soldOut = "{{ 'products.product.sold_out' | t | strip_newlines | escape }}";
    Theme.unavailable = "{{ 'products.product.unavailable' | t | strip_newlines | escape }}";
    Theme.routes = {
      "root_url": "{{ routes.root_url }}",
      "account_url": "{{ routes.account_url }}",
      "account_login_url": "{{ routes.account_login_url }}",
      "account_logout_url": "{{ routes.account_logout_url }}",
      "account_register_url": "{{ routes.account_register_url }}",
      "account_addresses_url": "{{ routes.account_addresses_url }}",
      "collections_url": "{{ routes.collections_url }}",
      "all_products_collection_url": "{{ routes.all_products_collection_url }}",
      "search_url": "{{ routes.search_url }}",
      "cart_url": "{{ routes.cart_url }}",
      "cart_add_url": "{{ routes.cart_add_url }}",
      "cart_change_url": "{{ routes.cart_change_url }}",
      "cart_clear_url": "{{ routes.cart_clear_url }}",
      "product_recommendations_url": "{{ routes.product_recommendations_url }}",
      "predictive_search_url": "{{ routes.predictive_search_url }}",
    };
  </script>
  {% comment %}Inject theme-object end{% endcomment %}

</head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} product-grid-{{ settings.product_grid_aspect_ratio }}">
  {% render 'photoswipe' %}

  {{ content_for_layout }}

  <div id="modal-login" class="password-page-modal-wrapper">
    <div class="password-page-modal">
      <button class="close-modal" type="button" aria-label="Close">
        {% render 'icon' with 'close' %}
      </button>

      <div class="module header">
        <p class="form-title">{{ 'general.password_page.login_form_heading' | t }}</p>
      </div>

      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}

        <div
          class="password-page-field-wrap"
          {% if form.errors %}
            data-open-modal
          {% endif %}
        >
          <input
            class="password-page-input"
            id="storefront-password-form__password"
            type="password"
            name="password"
            placeholder="{{ 'general.password_page.login_form_password_label' | t }}"
            aria-label="{{ 'general.password_page.login_form_password_label' | t }}"
            autofocus
          >

          <button class="submit" type="submit">
            {{- 'general.password_page.login_form_submit' | t -}}
          </button>
        </div>
      {% endform %}
    </div>
  </div>

  <!-- Scripts -->
  <script
    src="{{ 'atlantic.js' | asset_url }}"
    data-scripts
    data-shopify-api-url="{{ 'api.jquery.js' | shopify_asset_url }}"
    data-shopify-countries="/services/javascripts/countries.js"
    data-shopify-common="{{ 'shopify_common.js' | shopify_asset_url }}"
    data-shopify-cart="{{ 'jquery.cart.min.js' | asset_url }}"
    data-customer-area="{{ 'customer_area.js'  | shopify_asset_url }}"
    defer>
  </script>

  <script src="{{ 'api.jquery.js' | shopify_asset_url }}" defer></script>
  <script src="{{ 'plugins.js' | asset_url }}" defer></script>

  <script>
    (function () {
      function handleFirstTab(e) {
        if (e.keyCode === 9) { // the "I am a keyboard user" key
          document.body.classList.add('user-is-tabbing');
          window.removeEventListener('keydown', handleFirstTab);
        }
      }
      window.addEventListener('keydown', handleFirstTab);
    })();
  </script>
</body>
</html>