<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-faq"
  data-section-index="{{ section.index }}"
>
</script>

<section
  class="
    faq
    home-section
    content-area
    {% if section.settings.show_border %}
      has-border
    {% endif %}
  "
>
  {%- if section.settings.heading != blank -%}
    <h2 class="faq__section-heading">
      {{- section.settings.heading | escape -}}
    </h2>
  {%- endif -%}

  {%- if section.blocks.size > 0 -%}
    <div class="faq__container">
      {%- for block in section.blocks -%}
        {%- if block.settings.title != blank or block.settings.content != blank -%}
          <div class="faq__block">
            <h3
              class="
                faq__heading
                {% if forloop.first -%}
                  active
                {% endif %}
              "
              tabindex="0"
              data-faq-toggle
              {{ block.shopify_attributes }}
            >
              <span class="faq__title">
                {{- block.settings.title | escape -}}
              </span>

              <div class="faq__icon">
                {%- render 'icon' with 'down-arrow' -%}
                {%- render 'icon' with 'minus' -%}
              </div>
            </h3>

            <div
              class="
                faq__content
                {% if forloop.first -%}
                  active
                {% endif %}
              "
            >
              <div class="rte">
                {{- block.settings.content -}}
              </div>
            </div>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  {%- endif -%}
</section>

{% schema %}
{
  "name": "FAQ",
  "class": "shopify-section--faq",
  "max_blocks": 12,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Frequently asked questions"
    },
    {
      "type": "checkbox",
      "id": "show_border",
      "label": "Show border",
      "default": true
    }
  ],
  "blocks": [
    {
      "name": "FAQ",
      "type": "faq",
      "limit": 12,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Want to know anything else?"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Save yourself the time and trouble of writing the same email over and over again by listing your most commonly asked questions and answers here. A dedicated FAQ page should help address the basic needs of your customers, cutting down on customer service emails, increasing conversions, and creating a more satisfying shopping experience!</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ",
      "category": "Text",
      "blocks": [
        {
          "type": "faq",
          "settings": {
            "title": "Can I track my order?",
            "content": "<p>Save yourself the time and trouble of writing the same email over and over again by listing your most commonly asked questions and answers here. A dedicated FAQ page should help address the basic needs of your customers, cutting down on customer service emails, increasing conversions, and creating a more satisfying shopping experience!</p>"
          }
        },
        {
          "type": "faq",
          "settings": {
            "title": "Where do you ship to?",
            "content": "<p>Save yourself the time and trouble of writing the same email over and over again by listing your most commonly asked questions and answers here. A dedicated FAQ page should help address the basic needs of your customers, cutting down on customer service emails, increasing conversions, and creating a more satisfying shopping experience!</p>"
          }
        },
        {
          "type": "faq",
          "settings": {
            "title": "What are your shipping rates?",
            "content": "<p>Save yourself the time and trouble of writing the same email over and over again by listing your most commonly asked questions and answers here. A dedicated FAQ page should help address the basic needs of your customers, cutting down on customer service emails, increasing conversions, and creating a more satisfying shopping experience!</p>"
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "*"
    ]
  }
}

{% endschema %}