<div
  data-section-id="{{ section.id }}"
  data-section-type="static-password"
  data-section-index="{{ section.index }}"
>
  <section
    class="password-page-background"
    {% if section.settings.image %}
      {%
        render 'rimg',
        img: section.settings.image,
        size: '1440x1440',
        background: true,
        lazy: true,
        focal_point: section.settings.image.presentation.focal_point,
      %}
    {% endif %}
  >
    <div class="password-page content-area">
      <div class="password-page-header">
        <div class="password-page-inner">
          <a href="#modal-login" class="admin-login-modal">
            {{ 'general.password_page.password_link' | t }}
          </a>
        </div>
      </div>

      <div class="password-page-content">
        <div class="password-page-inner">
          {{ content_for_layout }}

          <div class="password-page-logo">
            <h1 class="store-title">
              {{ shop.name }}
            </h1>
          </div>
          <div class="password-page-signup-form">
            <div class="password-page-form-header">
              <h2>{{ 'general.password_page.opening_soon' | t }}</h2>

              {% unless shop.password_message == blank %}
                <p class="password-page-message">
                  {{ shop.password_message }}
                </p>
              {% endunless %}
              {% if section.settings.password-page-social-icons %}
                {% render 'social-links' %}
              {% endif %}
            </div>

            {% form 'customer', class: 'newsletter-signup' %}
              {{ form.errors | default_errors }}

              {% if form.posted_successfully? %}
                <p class="form-success">
                  {{- 'general.password_page.signup_form_success' | t -}}
                </p>
              {% else %}
                {% if section.settings.newsletter_text != blank %}
                  <div class="form-title">
                    {{- section.settings.newsletter_text -}}
                  </div>
                {% endif %}

                <div class="password-page-field-wrap">
                  <input
                    class="password-page-input"
                    type="text"
                    name="contact[email]"
                    placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}"
                    aria-label="{{ 'general.password_page.signup_form_email_placeholder' | t }}"
                  >

                  <button
                    class="submit"
                    type="submit"
                    name="commit"
                  >
                    {{- 'general.password_page.signup_form_submit' | t -}}
                  </button>

                  <input
                    type="hidden"
                    name="contact[tags]"
                    value="prospect, password page"
                  >
                </div>
              {% endif %}
            {% endform %}
          </div>
        </div>
      </div>

      <div class="password-page-footer" role="contentinfo">
        <div class="password-page-inner">
          {% capture shopify %}
            <a class="shopify-link" href="//www.shopify.com/" rel="nofollow" target="_blank" title="Create your own online store with Shopify">
              <span class="shopify-name">Shopify</span>
            </a>
          {% endcapture %}
          {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}
        </div>
      </div>

    </div>
  </section>

</div>

{% schema %}
{
  "name": "Password pages",
  "class": "shopify-section--password",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "checkbox",
      "id": "password-page-social-icons",
      "label": "Show social icons",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    },
    {
      "type": "richtext",
      "id": "newsletter_text",
      "label": "Newsletter text",
      "default": "<p>Find out when we open:</p>"
    }
  ]
}

{% endschema %}