{% capture content %}
  <script
    type="application/json"
    data-section-type="static-quickshop"
    data-section-id="{{ section.id }}"
    data-section-data
    data-options
    data-section-index="{{ section.index }}"
  >
    {
      "product": {{ product | json }},
      "settings": {
        "enable_cart_redirect": {{ settings.enable_cart_redirection | t | json }},
        "enable_history": false,
        "gallery_enable_video_autoplay": {{ section.settings.gallery_enable_video_autoplay | json }},
        "gallery_enable_video_looping": {{ section.settings.gallery_enable_video_looping | json }},
        "money_format": {{ shop[settings.currency_display_format] | default: shop.money_format | strip_html | json }}
      },
      "locale": {
        "add_to_cart": {{ 'products.product.add_to_cart' | t | json }},
        "sold_out": {{ 'products.product.sold_out' | t | json }},
        "unavailable": {{ 'products.product.unavailable' | t | json }}
      }
    }
  </script>

  <div data-html>
    {%
      render 'product',
      product: product,
      onboarding: onboarding,
      show_media_borders: settings.media_borders,
      show_quantity: settings.show_quantity_selector,
      show_spb: settings.show_payment_button,
      gallery_layout: section.settings.gallery_layout,
      enable_image_zoom: section.settings.gallery_enable_image_zoom,
      details_alignment: section.settings.details_alignment,
      variant_options_style: settings.variant_options_style,
    %}
  </div>
{% endcapture %}

{%
  render 'quickshop',
  content: content,
  hide_close_button: true,
%}

{% schema %}
{
  "name": "Quick shop",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "details_alignment",
      "label": "Product details alignment",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media/product-media-types)"
    },
    {
      "type": "select",
      "id": "gallery_layout",
      "label": "Layout",
      "options": [
        {
          "label": "Thumbnails left of gallery",
          "value": "gallery-left"
        },
        {
          "label": "Thumbnails right of gallery",
          "value": "gallery-right"
        },
        {
          "label": "Thumbnails below gallery",
          "value": "gallery-below"
        }
      ],
      "default": "gallery-left"
    },
    {
      "type": "checkbox",
      "id": "gallery_enable_image_zoom",
      "label": "Enable image zoom",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "gallery_enable_video_autoplay",
      "label": "Enable video autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "gallery_enable_video_looping",
      "label": "Enable video looping",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "callout",
      "name": "Call to action",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_border",
          "label": "Show border"
        }
      ]
    },
    {
      "type": "collapsible-tab",
      "name": "Collapsible tab",
      "settings": [
        {
          "type": "text",
          "id": "collapsible_tab_heading",
          "label": "Heading",
          "default": "Collapsible tab"
        },
        {
          "type": "richtext",
          "id": "collapsible_tab_text",
          "label": "Text",
          "default": "<p>Use this text to share information about your product.</p>"
        }
      ]
    },
    {
      "type": "custom-liquid",
      "name": "Custom liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_border",
          "label": "Show border"
        }
      ]
    },
    {
      "type": "email",
      "name": "Email link",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_border",
          "label": "Show border",
          "default": true
        }
      ]
    },
    {
      "type": "fitting_guide",
      "name": "Fitting guide",
      "limit": 1,
      "settings": [
        {
          "type": "page",
          "id": "link",
          "label": "Page"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "info",
              "label": "Info"
            }
          ],
          "default": "shirt"
        },
        {
          "type": "checkbox",
          "id": "show_border",
          "label": "Show border",
          "default": true
        }
      ]
    },
    {
      "type": "form",
      "name": "Form",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customize form features for the product in the products portion of the theme settings."
        },
        {
          "type": "checkbox",
          "id": "show_border",
          "label": "Show border",
          "default": true
        }
      ]
    },
    {
      "type": "inventory_status",
      "name": "Inventory status",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_border",
          "label": "Show border",
          "default": false
        },
        {
          "type": "select",
          "id": "inventory_status",
          "label": "Show inventory status",
          "options": [
            {
              "value": "low_stock_only",
              "label": "Low stock only"
            },
            {
              "value": "always",
              "label": "Always"
            }
          ],
          "default" : "always"
        },
        {
          "type": "select",
          "id": "quantity_status",
          "label": "Show quantity in status",
          "options": [
            {
              "value": "always",
              "label": "Always"
            },
            {
              "value": "low_stock_only",
              "label": "Low stock only"
            },
            {
              "value": "never",
              "label": "Never"
            }
          ],
          "default" : "always"
        },
        {
          "type": "range",
          "id": "low_stock_threshold",
          "label": "Low stock threshold",
          "info": "When set to 0, inventory status will only show as in stock.",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 2
        },
        {
          "type": "header",
          "content": "Inventory status bar"
        },
        {
          "type": "checkbox",
          "id": "inventory_status_bar",
          "label": "Show status bar",
          "default": true
        },
        {
          "type": "text",
          "id": "initial_stock_level",
          "label": "Initial stock level",
          "info": "Enter the quantity of your product's initial stock level. The status bar progress compares the current inventory to the initial stock level.",
          "default": "20"
        },
        {
          "type": "header",
          "content": "Inventory transfer"
        },
        {
          "type": "checkbox",
          "id": "inventory_transfer_notice",
          "label": "Show inventory transfer notice",
          "info": "Tell your customers when products will restock through inventory transfers. [Learn more about inventory transfers](https://help.shopify.com/en/manual/products/inventory/transfers/create-transfer)",
          "default": false
        }
      ]
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_border",
          "label": "Show border",
          "default": true
        }
      ]
    },
    {
      "type": "rating",
      "name": "Product rating",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To display a rating, add a product rating app. [Learn more](https://apps.shopify.com/product-reviews)"
        },
        {
          "type": "checkbox",
          "id": "show_border",
          "label": "Show border"
        }
      ]
    },
    {
      "type": "share",
      "name": "Share",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_border",
          "label": "Show border",
          "default": true
        }
      ]
    },
    {
      "type": "sku",
      "name": "SKU",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_border",
          "label": "Show border"
        }
      ]
    },
    {
      "type": "tabs",
      "name": "Tabs",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_product_description",
          "label": "Show product description",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "tabs_below_gallery",
          "label": "Show tabs below product gallery",
          "info": "Desktop only",
          "default": false
        },
        {
          "type": "header",
          "content": "Tab"
        },
        {
          "type": "text",
          "id": "tab_heading_1",
          "label": "Heading",
          "default": "Tab 1"
        },
        {
          "type": "richtext",
          "id": "tab_text_1",
          "label": "Text",
          "default": "<p>Use this text to share information about your product.</p>"
        },
        {
          "type": "header",
          "content": "Tab"
        },
        {
          "type": "text",
          "id": "tab_heading_2",
          "label": "Heading",
          "default": "Tab 2"
        },
        {
          "type": "richtext",
          "id": "tab_text_2",
          "label": "Text",
          "default": "<p>Use this text to share information about your product.</p>"
        },
        {
          "type": "header",
          "content": "Tab"
        },
        {
          "type": "text",
          "id": "tab_heading_3",
          "label": "Heading",
          "default": "Tab 3"
        },
        {
          "type": "richtext",
          "id": "tab_text_3",
          "label": "Text",
          "default": "<p>Use this text to share information about your product.</p>"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text block</p>"
        },
        {
          "type": "checkbox",
          "id": "show_border",
          "label": "Show border"
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_border",
          "label": "Show border"
        }
      ]
    },
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_border",
          "label": "Show border"
        }
      ]
    }
  ]
}

{% endschema %}